@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #3490dc;
  }

  body {
    @apply font-sans text-base;
  }
}

@layer components {
  .underline-animation {
      @apply relative;
  }

  .underline-animation::after {
      @apply absolute content-[''] w-full h-[0.06rem] bg-current left-0 bottom-[-0.10rem] scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-bottom-right hover:origin-bottom-left;
  }
}


@layer utilities {
  .font-serif {
    font-variation-settings: "wdth" 600;
  }
  .font-super {
    font-variant-position: super;
  }
}